header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
header #api_status {
    width: 40px;
    height: 40px;
    background-color: #cccc;
    border-radius: 50%;

    position: absolute;
    right: 30px;
    transform: translateY(-130%);
}
header #api_status.available {
    background-color: #ff545f;
}
